nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navtitle{
  display: flex;
}

.navtitle img{
  align-self: center;
  width: 50px;
  height: 50px;
}

.navlist ul{
  list-style: none;
  display: flex;
  margin-top: 10px;
}

.navlist ul li{
  margin-right: 20px;
}

.navlist ul li a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.navbtn button{
  background-color: #100f3d;
  color: white;
  padding: 10px;
  border-color: white ;
  border-radius: 5px;
  margin-right: 20px;
}

.navbtn button:hover{
  background-color: white;
  color: #100f3d;
}

/* footer */

footer{
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.footerBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerInfo{
  margin: 20px;
  width: 70%;
  text-align: center;
}

.footerLinks{
  margin: 20px;
  width: 30%;
  text-align: center;
}

.footerLinks ul{
  list-style: none;
}