nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navtitle{
  display: flex;
}

.navtitle img{
  align-self: center;
  width: 40px;
  height: 40px;
}

.navlist ul{
  list-style: none;
  display: flex;
  margin-top: 10px;
}

.navlist ul li{
  margin-right: 20px;
}

.navlist ul li a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.navbtn button{
  background-color: #100f3d;
  color: white;
  padding: 5px 10px;
  border-color: white ;
  border-radius: 5px;
  margin-right: 20px;
}

.navbtn button:hover{
  background-color: white;
  color: #100f3d;
}

/* footer */

footer{
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.footerBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerInfo{
  margin: 20px;
  width: 70%;
  text-align: center;
}

.footerLinks{
  margin: 20px;
  width: 30%;
  text-align: center;
}

.footerLinks ul{
  list-style: none;
}

/* contact us */

.contactCard{
  width: 80%;
  border: 2px ; 
  border-color: #100f3d;
  border-radius: 10px;
  margin: 20px 10%;
  font-family: bahnschrift;
}

.contactCard-header{
  background-color: #F8F8F8;
  padding: 10px 20px;
  border-radius: 8px 8px 0px 0px;
  color: #F57224;
  font-weight: bold;
}

.contactCard-Body{
  padding: 20px;
}

.contactCard-Body input{
  margin-bottom: 10px;
  width: 100%;
}

.contactCard-Body button{
  color: white;
  background-color: #f57224;
  margin-top: 20px;

}

.contactCard-Body textarea{
  width: 100%;
}